{% load static %}

{% load humanize %}

<div class="container mt-4">
    <div class="row row-content">
        <div class="col">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}" alt="">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="mt-0">Spotlight <span class="badge badge-danger ">HOT</span>
                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                            <p class="d-none d-sm-block">
                                Advertise your vehicles here!
                            </p>
                        </div>
                    </div>
                    {% for listing in listings %}
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="d-block img-fluid" src="{{ listing.photo_front.url }}" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img class="d-block img-fluid" src="{{ listing.photo_back.url }}" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img class="d-block img-fluid" src="{{ listing.photo_left.url }}" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img class="d-block img-fluid" src="{{ listing.photo_right.url }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption">
                            <h2 class="mt-0"><span class="badge badge-pill badge-light ">{{ listing.make}}
                                    {{ listing.model }} </span>
                                <span class="badge badge-danger ">HOT</span>
                                <span class="badge badge-pill badge-secondary">${{ listing.price | intcomma }}</span>
                            </h2>
                            <span class="badge badge-pill badge-dark ">
                                Advertise your vehicles here!
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
                <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                <button class="btn btn-danger btn-sm" id="carouselButton">
                    <span class="fa fa-pause"></span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>