{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static '/img/logo.png' %}" class="logo" alt="">
        </a>
        <!--Collapse navbar in bigger screens-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li {% if '/about' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li {% if '/listings/search_car' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'search_car' %}">Find Car</a>
                </li>
                <li {% if '/listings/search_moto' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'search_moto' %}">Find Motorcycle</a>
                </li>
                <li {% if '/listings/car' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'car' %}">Sell Car</a>
                </li>
                <li {% if '/listings/moto' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'moto' %}">Sell Motorcycle</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li {% if '/accounts/register' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="fas fa-user-plus"></i> Register</a>
                </li>
                <li {% if '/accounts/login' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>