<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-address-book"></i> Web Developer: Jonathan Medina
            </div>
            <div class="col-md-3">
                <i class="fas fa-phone"></i> (+353)-83-456-2685
            </div>
            <div class="col-md-3">
                <i class="fas fa-envelope-open"></i> jonathanmedhed@gmail.com
            </div>
            <div class="col-md-2">
                <div class="social text-right">
                    <a href="http://www.facebook.com/jonathan.m.heddrich">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jonathanmedhed/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>