{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Listings -->
<section id="showcase" class="showcase-search text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4 mb-4">
                    Find The Perfect Vehicle For You!
                </h1>
                <form action="{% url 'search_car' %}">
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <select id="type" name="type" class="form-control">
                                <option selected="true" disabled="disabled">Type</option>
                                <option value='1'>
                                    Motorcycle
                                </option>
                                <option value='2'>
                                    Car
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Make</label>
                            <select id="allmakes" name="make" class="form-control">
                                <option selected="true" disabled="disabled">Make</option>
                                <!--Get choices from view-->
                                {% for key,value in car_make_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='2' value="{{ key }}" {% if key == values.make %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                                {% for key,value in moto_make_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='1' value="{{ key }}" {% if key == values.make %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Model</label>
                            <input name="model" class="form-control" placeholder="Model">
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="year" class="form-control">
                                <option selected="true" disabled="disabled">Min Year</option>
                                <!--Get choices from view-->
                                {% for key,value in year_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.year %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-secondary btn-block mt-4" type="submit">More Motorcycle
                                Options</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-secondary btn-block mt-4" type="submit">More Car Options</button>
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
                </form>
            </div>

            <!--Carousel-->
            {% include 'partials/_carousel.html'%}
        </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-certificate fa-4x mr-4"></i>
                <hr>
                <h3>Vehicle Appraisal</h3>
                <p>Our experts and Technicians will have a extensive look at a vehicle to determine
                    the appropriate market value of it
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home fa-4x mr-4"></i>
                <hr>
                <h3>Dealerships</h3>
                <p>Are you a car dealer? here at Car Shop we can work hand in hand to increase
                    your sales. Contact us to find more about our deals.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-suitcase fa-4x mr-4"></i>
                <hr>
                <h3>Join the team!</h3>
                <p>Passionate about motorized vehicles? Here at Car Shop we are always looking
                    for experts that would help us become the number 1 car dealer website in Ireland
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}