{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Listings -->
<section id="showcase" class="py-1">
    <div class="container">
        <h3 class="text-center mb-3">Spotlight</h3>
        <div class="row row-content">
            <div class="col">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    <button class="btn btn-danger btn-sm" id="carouselButton">
                        <span class="fa fa-pause"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center mb-3">Spotlight</h3>
        <div class="row row-content">
            <div class="col">
                <div id="mycarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">moto <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                    <div class="carousel-item-subitem col-md-2">
                                        <img class="d-block img-fluid" src="{% static '/img/moto1.jpg' %}"
                                            alt="uthappizza">
                                        <div class="carousel-item-subitem-caption">
                                            <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel1" data-slide-to="1"></li>
                        <li data-target="#mycarousel1" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    <button class="btn btn-danger btn-sm" id="carouselButton">
                        <span class="fa fa-pause"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-certificate fa-4x mr-4"></i>
                <hr>
                <h3>Vehicle Appraisal</h3>
                <p>Our experts and Technicians will have a extensive look at a vehicle to determine
                    the appropriate market value of it
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home fa-4x mr-4"></i>
                <hr>
                <h3>Dealerships</h3>
                <p>Are you a car dealer? here at Car Shop we can work hand in hand to increase
                    your sales. Contact us to find more about our deals.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-suitcase fa-4x mr-4"></i>
                <hr>
                <h3>Join the team!</h3>
                <p>Passionate about motorized vehicles? Here at Car Shop we are always looking
                    for experts that would help us become the number 1 car dealer website in Ireland
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}