{% extends 'base.html' %}

{% load humanize %}

{% block content %}

{% if listing %}

<!-- Listing -->
<section id="listing" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Vehicle Main Image -->
                <img src="{{ listing.photo_front.url }}" alt="" class="img-main img-fluid mb-3">
                <!--Alerts-->
                {% include 'partials/_alerts.html' %}
                <!-- Thumbnails -->
                <div class="row mb-5 thumbs">
                    <div class="col-md-2">
                        <a href="{{ listing.photo_back.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_back.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ listing.photo_left.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_left.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ listing.photo_right.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_right.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% if listing.photo_extra %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_extra.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_extra.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_extra2 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_extra2.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_extra2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-money-bill-alt"></i> Asking Price:
                                <span class="float-right">${{ listing.price | intcomma }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-tag"></i> Make:
                                <span class="float-right">{{ listing.make }}</span>
                            </li>
                            <li class="list-group-item">
                                <i {% if listing.cc is None %} class="fas fa-car" {% else %} class="fas fa-motorcycle"
                                    {% endif %}></i> Model:
                                <span class="float-right">{{ listing.model }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-calendar"></i> Year:
                                <span class="float-right">{{ listing.year}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-male"></i> Body:
                                <span class="float-right">{{ listing.body}}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-paint-brush"></i> Colour:
                                <span class="float-right">{{ listing.colour}}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-hourglass-half"></i> Millage:
                                <span class="float-right">{{ listing.millage }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-clock"></i> Posted:
                                <span class="float-right">{{ listing.list_date | timesince }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    {% if listing.description %}
                    <div class="col-md-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-male"></i> Description:
                                <span id="description">{{ listing.description }}</span>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <!-- Description -->
                {% if listing.description %}
                <div class="row mb-5">
                    <div class="col-md-12">

                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div id="user-card" class="card">
                    <div class="card-header bg-primary">
                        <h4 class="text-center">Seller</h4>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-user" aria-hidden="true"></i> {{ listing.user.username }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% if user.is_authenticated %}
                            <button class="btn-secondary btn-block btn-lg" data-toggle="modal"
                                data-target="#inquiryModal">Contact</button>
                            {% else %}
                            <button class="btn-secondary btn-block btn-lg" data-toggle="modal"
                                data-target="#inquiryModal">Login to
                                Contact</button>
                            {% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Inquiry Modals -->
{% include 'partials/_list-enquiry.html' %}
{% endif %}
{% endblock %}