{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section id="form-showcase" class="showcase-search text-white py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <form action="{% url 'listing_form' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Form Row 2 -->
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <select id="type" name="type" class="form-control">
                                <option selected="true" disabled="disabled">Type</option>
                                <option value='moto' {% if values.type == 'moto' %} selected {% endif %}>
                                    Motorcycle
                                </option>
                                <option value='car' {% if values.type == 'car' %} selected {% endif %}>
                                    Car
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select id="choices" name="body" class="form-control">
                                <option selected="true" disabled="disabled">Body Type</option>
                                <!--Get choices from view-->
                                {% for key,value in body_types.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='car' value="{{ key }}" {% if key == values.body %} selected
                                    {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                                {% for key,value in moto_body_types.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='moto' value="{{ key }}" {% if key == values.body %} selected
                                    {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select id="choices" name="make" class="form-control">
                                <option selected="true" disabled="disabled">Make</option>
                                <!--Get choices from view-->
                                {% for key,value in car_make_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='car' value="{{ key }}" {% if key == values.make %} selected
                                    {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                                {% for key,value in moto_make_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option data-tag='moto' value="{{ key }}" {% if key == values.make %} selected
                                    {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="sr-only">Model</label>
                            <input name="model" class="form-control" placeholder="Model">
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="year" class="form-control">
                                <option selected="true" disabled="disabled">Year</option>
                                <!--Get choices from view-->
                                {% for key,value in year_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.year %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Price</option>
                                <!--Get choices from view-->
                                {% for key,value in price_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.price %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="colour" class="form-control">
                                <option selected="true" disabled="disabled">Colour</option>
                                <!--Get choices from view-->
                                {% for key,value in colours.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.colour %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="millage" class="form-control">
                                <option selected="true" disabled="disabled">Millage</option>
                                <!--Get choices from view-->
                                {% for key,value in millage_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.millage %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="city" class="form-control">
                                <option selected="true" disabled="disabled">City</option>
                                <!--Get choices from view-->
                                {% for key,value in cities.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.city %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="choices" class="col-md-3 mb-3">
                            <label class="sr-only">CC</label>
                            <input data-tag='moto' name="cc" class="form-control" placeholder="CC(Motorcycle)">
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea name="description" class="form-control"
                                placeholder="Extra info about your vehicle"></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_front" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Front Picture</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_back" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Back Picture</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_left" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Left Picture</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_right" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Right Picture</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_extra" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Extra Pic(Optional)</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="custom-file">
                                <input name="photo_extra2" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Extra Pic(Optional)</label>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-secondary">
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4"><a href="{% url 'login' %}">Login</a> or <a
                        href="{% url 'register' %}">Register</a></h1>
                <p class="lead">To Advertise A Vehicle</p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}