{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="showcase" class="showcase-search text-white py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <form action="search.html">
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Make</label>
                            <select name="state" class="form-control">
                                <option selected="true" disabled="disabled">Make</option>
                                <option value="AL">Ford</option>
                                <option value="AK">Alaska</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Model</label>
                            <select name="bedrooms" class="form-control">
                                <option selected="true" disabled="disabled">Model</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Min Year</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Max Year</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Min Price</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Max Price</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Body Type</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Colour</option>
                                <option value="100000">$100,000</option>
                                <option value="200000">$200,000</option>
                                <option value="300000">$300,000</option>
                                <option value="400000">$400,000</option>
                                <option value="1000000">$1M+</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
            </div>
        </div>
        <div class="container">
            <h3 class="text-center mb-3">Spotlight</h3>
            <div class="row row-content">
                <div class="col">
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mycarousel" data-slide-to="1"></li>
                            <li data-target="#mycarousel" data-slide-to="2"></li>
                        </ol>
                        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                        <button class="btn btn-danger btn-sm" id="carouselButton">
                            <span class="fa fa-pause"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{% static '/img/car1.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">$490,000</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">45 Drivewood Circle</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-tag"></i> Make: Ford</div>
                            <div class="col-6">
                                <i class="fas fa-car"></i> Model: Mustang</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-calendar"></i> Year: 64</div>
                            <div class="col-6">
                                <i class="fas fa-male"></i> Body Type: Car</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-6">
                                <i class="fas fa-paint-brush"></i> Colour: Red</div>
                            <div class="col-6">
                                <i class="fas fa-hourglass-half"></i> Millage: 10000km</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> Kyle Brown</div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-6">
                                <i class="fas fa-clock"></i> 2 days ago</div>
                        </div>
                        <hr>
                        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>  
            </div>
        </div>
    </div>
</section>
{% endblock %}