{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}
<section id="showcase" class="showcase-search text-white py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <form action="{% url 'search_car' %}">
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Make</label>
                            <select name="make" class="form-control">
                                <option selected="true" disabled="disabled">Make</option>
                                <!--Get choices from view-->
                                {% for key,value in car_make_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.make %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Model</label>
                            <input name="model" class="form-control" placeholder="Model">
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="minyear" class="form-control">
                                <option selected="true" disabled="disabled">Min Year</option>
                                <!--Get choices from view-->
                                {% for key,value in year_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.minyear %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="maxyear" class="form-control">
                                <option selected="true" disabled="disabled">Max Year</option>
                                <!--Get choices from view-->
                                {% for key,value in year_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.maxyear %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="minmillage" class="form-control">
                                <option selected="true" disabled="disabled">Min Millage</option>
                                <!--Get choices from view-->
                                {% for key,value in millage_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.minmillage %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="maxmillage" class="form-control">
                                <option selected="true" disabled="disabled">Max Millage</option>
                                <!--Get choices from view-->
                                {% for key,value in millage_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.maxmillage %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="minprice" class="form-control">
                                <option selected="true" disabled="disabled">Min Price</option>
                                <!--Get choices from view-->
                                {% for key,value in price_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.minprice %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="maxprice" class="form-control">
                                <option selected="true" disabled="disabled">Max Price</option>
                                <!--Get choices from view-->
                                {% for key,value in price_choices.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.maxprice %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="body" class="form-control">
                                <option selected="true" disabled="disabled">Body</option>
                                <!--Get choices from view-->
                                {% for key,value in body_types.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.body %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="colour" class="form-control">
                                <option selected="true" disabled="disabled">Colour</option>
                                <!--Get choices from view-->
                                {% for key,value in colours.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.colour %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="city" class="form-control">
                                <option selected="true" disabled="disabled">City</option>
                                <!--Get choices from view-->
                                {% for key,value in cities.items %}
                                <!--If make is in the values searched, stay selected-->
                                <option value="{{ key }}" {% if key == values.city %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row row-content mt-4">
                <div class="col">
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car1 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car2 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                        <div class="carousel-item-subitem col-md-2">
                                            <img class="d-block img-fluid" src="{% static '/img/car1.jpg' %}"
                                                alt="uthappizza">
                                            <div class="carousel-item-subitem-caption">
                                                <h2 class="mt-0">Car3 <span class="badge badge-danger ">HOT</span>
                                                    <span class="badge badge-pill badge-secondary">$4.99</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mycarousel" data-slide-to="1"></li>
                            <li data-target="#mycarousel" data-slide-to="2"></li>
                        </ol>
                        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                        <button class="btn btn-danger btn-sm" id="carouselButton">
                            <span class="fa fa-pause"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="search-results-car" class="py-5 bg-secondary text-white">
    <!-- Listings -->
    <section id="listings" class="py-4">
        <div class="container">
            <div class="row">
                {% if listings %}
                {% for listing in listings %}
                {% if listing.cc == null %}
                <!-- Listing -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                        <img class="card-img-top" src="{{ listing.photo_front.url }}" alt="">
                        <div class="card-img-overlay">
                            <h2>
                                <span class="badge badge-secondary text-white">${{ listing.price | intcomma}}</span>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="listing-heading text-center">
                                <h4 class="text-primary">{{ listing.make }} {{ listing.model }}</h4>
                                <p>
                                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }}</p>
                            </div>
                            <hr>
                            <div class="row py-2 text-secondary">
                                <div class="col-6">
                                    <i class="fas fa-tag"></i> Make: {{ listing.make }}</div>
                                <div class="col-6">
                                    <i class="fas fa-car"></i> Model: {{ listing.model }}</div>
                            </div>
                            <div class="row py-2 text-secondary">
                                <div class="col-6">
                                    <i class="fas fa-calendar"></i> Year: {{ listing.year }}</div>
                                <div class="col-6">
                                    <i class="fas fa-male"></i> Body Type: {{ listing.body }}</div>
                            </div>
                            <div class="row py-2 text-secondary">
                                <div class="col-6">
                                    <i class="fas fa-paint-brush"></i> Colour: {{ listing.colour }}</div>
                                <div class="col-6">
                                    <i class="fas fa-hourglass-half"></i> Millage: {{ listing.millage }}</div>
                            </div>
                            <hr>
                            <div class="row py-2 text-secondary">
                                <div class="col-12">
                                    <i class="fas fa-user"></i> {{ listing.user }}</div>
                            </div>
                            <div class="row text-secondary pb-2">
                                <div class="col-6">
                                    <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                            </div>
                            <hr>
                            <a href="" class="btn btn-primary btn-block">More Info</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <h1>No Listing found with those specs</h1>
                {% endif %}
            </div>
        </div>
        </div>
    </section>
</section>
{% endblock %}