.btn-secondary {
  color: #fff !important;
}

img {
  width: 100%;
}

.logo {
  width: 40px;
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

.pagination {
  display: flex;
  justify-content: center;
}

#description {
  display: flex;
  justify-content: center;
}

.card-img-top {
  max-height: 200px;
}

#user-card {
  background-color:  rgba(32, 134, 107, 0.8);
}

.table {
  background-color:  rgba(32, 134, 107, 0.8);
}

.table thead {
  background-color:  #10284e;
}

.list-group-item {
  background-color:  rgba(32, 134, 107, 0.8);
}

#listing {
  background: url(../img/garage.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
}

#gray-back {
  background-color:  rgba(51, 51, 51, 0.8);
  text-align: center;
}
#showcase-dashboard {
  background: url(../img/garage.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase {
  background: url(../img/showcase.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase .home-search {
  min-height: 350px;
  position: relative;
  border-radius: 5px;
}

#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#showcase-inner {
  background: url(../img/building.jpg) no-repeat center center fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#showcase-inner.showcase-search {
  min-height: 270px;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  #showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }
  #showcase-inner h1 {
    font-size: 40px;
  }
}

#form-showcase {
  background: url(../img/form.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search-showcase {
  background: url(../img/search.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#moto-showcase {
  background: url(../img/moto1.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#moto-showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}

#moto-showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#moto-showcase-inner {
  background: url(../img/moto1.jpg) no-repeat center center fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#moto-showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#moto-showcase-inner.showcase-search {
  min-height: 270px;
}

@media (max-width: 991px) {
  #moto-showcase {
    padding-top: 4rem;
  }
  #moto-showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #moto-showcase {
    padding-top: 3rem;
  }
  #moto-showcase h1 {
    font-size: 40px;
  }
  #moto-showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #moto-showcase h1 {
    font-size: 30px;
  }
  #moto-showcase-inner h1 {
    font-size: 40px;
  }
}

#login-showcase {
  background: url(../img/moto1.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 650px;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-showcase-login {
  background: url(../img/moto1.jpg) no-repeat center center fixed;
  position: relative;
  min-height: 480px;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}

#login-showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#login-showcase-inner {
  background: url(../img/moto1.jpg) no-repeat center center fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#login-showcase-inner.showcase-search {
  min-height: 270px;
}

@media (max-width: 991px) {
  #login-showcase {
    padding-top: 4rem;
  }
  #login-showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #login-showcase {
    padding-top: 3rem;
  }
  #login-showcase h1 {
    font-size: 40px;
  }
  #login-showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #login-showcase h1 {
    font-size: 30px;
  }
  #login-showcase-inner h1 {
    font-size: 40px;
  }
}

#services {
  background: url(../img/building.jpg) no-repeat center center fixed;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#search-results-car {
  background: url(../img/car3.jpg) no-repeat center center fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#search-results-car::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

#search-results-moto {
  background: url(../img/building.jpg) no-repeat center center fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search-results-moto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

.carousel {
  background: none;
}

.carousel .carousel-item {
  height: 200px;
}

.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  padding: 1%;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
}